{% extends "index.html" %}
{% block content %}
<h1 class="title">Cadastrar nova NE</h1>

    <div class="forms">
      <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
          <div id='form-box'>
            
              <p>
                {{ form.id_fornecedor.label }}<br>
                {{ form.id_fornecedor(size=1) }}
              </p>
              {% if nav == 'gnho'%}
              <p>
                {{ form.nav.label }}<br>
                {{ form.nav(size=1) }}
              </p>
              {% endif %}
              <p>
                {{ form.n_solemp.label }}<br>
                {{ form.n_solemp(size=32) }}
              </p>
              <p>
                {{ form.data_solemp.label }}<br>
                {{ form.data_solemp(size=32) }}
              </p>
            <p>
              {{ form.n_ne.label }}<br>
              {{ form.n_ne(size=32) }}
            </p>
            <p>
                {{ form.vl_ne.label }}<br>
                {{ form.vl_ne(size=32) }}
            </p>
            <p>
              {{ form.data_ne.label }}<br>
              {{ form.data_ne(size=32) }}
            </p>
        
            <p>{{ form.submit() }}</p>
  
          </div>
    </form>
    </div>
    
{% endblock %}