{% extends "index.html" %}

{% block content %}
    <h1 class= "title">Entrar</h1>
    <div class="form">
        <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            <div id='form-box' class="form-box">
                <p>
                    {{ form.nip.label }}<br>
                    {{ form.nip(size=32) }}
                </p>
                <p>
                    {{ form.password.label }}<br>
                    {{ form.password(size=32) }}
                </p>
                <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
                <p>{{ form.submit() }}</p>
            </div>
            
        </form>
    </div>
    
{% endblock %}